[features]
seeds = false
skip-lint = false

[programs.mainnet]
said = "5dpw6KEQPn248pnkkaYyWfHwu2nfb3LUMbTucb6LaA8G"

[programs.devnet]
said = "SAiD111111111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
